# Binary test files
test files original/
test files original.zip
test files converted/

# ZIP archives
*.zip

# Node modules
node_modules/

# Temp files
tmp_in.bin
tmp_out.bin

# OS files
Thumbs.db
Desktop.ini

# Guide files
*.md
!README.md
